
@model List<CourseGetVM>

<table class="table">
	<td>

		<a class="btn btn-primary" asp-action="Create">Create</a>
	<tr>
		<th scope="col">Id</th>
		<th scope="col">Image</th>
		<th scope="col">Name</th>
		<th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Teacher Name</th>
        
		<th scope="col">Actions</th>
	</tr>

    </td>
    <tbody>
        @foreach(var course in Model)
      {
            <tr>
                <th scope="row">@course.Id</th>
                <td>img src ="~/images/@course.ImagePath"</td>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Time</td>
                
            </tr>     
            
            <a class="btn btn-warning" asp-action="Update" asp-route-id="@course.Id">Update</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
            
      }
    </tbody>
</table>